name: Docker Scout Security Scan

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    schedule:
        - cron: '0 2 * * *'

jobs:
  scout:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build Docker image with Buildx
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: container:${{ github.sha }}
          load: true

      - name: Run Docker Scout scan
        uses: docker/scout-action@v1
        with:
          command: cves
          image: container:${{ github.sha }}
          sarif-file: scout-results.sarif
          write-comment: true

      - name: Upload Scout results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: scout-results.sarif
          category: docker-scout

      - name: Generate Scout report
        uses: docker/scout-action@v1
        with:
          command: recommendations
          image: container:${{ github.sha }}