defaults:
  run:
    working-directory: ./

name: Security Scan

on:
  push:
    branches:
      - "main"
      - "**/feature/*"
  pull_request:
    branches:
      - "main"
    types: [opened, synchronize]

jobs:
  bandit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Perform Bandit Analysis with ${{ matrix.python-version }}
        uses: PyCQA/bandit-action@v1
  anchore:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: build local container
      uses: docker/build-push-action@v6
      with:
        tags: localbuild/testimage:latest
        push: false
        load: true

    - name: Scan image
      uses: anchore/scan-action@v7
      id: scan
      with:
        image: "localbuild/testimage:latest"
        fail-build: false
    - name: Upload Anchore scan SARIF report
      uses: github/codeql-action/upload-sarif@v4
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}
    - name: Inspect action SARIF report
      run: cat ${{ steps.scan.outputs.sarif }}

  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Trivy
        id: trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-report.sarif'
      - name: Upload Trivy SARIF report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.trivy.outputs.sarif }}